{% extends "base_home.html" %}

{% block title %}STL Consulting - Sobre Nós{% endblock %}

{% block content %}
<section id="section-home" aria-label="section" class="text-light" aria-label="section"
  data-bgimage="url({{ url_for('static', filename='images/background/bg-subheader-1.jpg') }}) top"
  data-stellar-background-ratio=".2" data>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="mt30 wow fadeInUp" data-wow-delay=".6s">Sobre Nós</h1>
      </div>
    </div>
  </div>
</section>
<!-- <section id="section-text">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 wow fadeInRight" data-wow-delay=".2s">
              <div class="de_count ultra-big s2 text-center">
                <h3 class="timer" data-to="18" data-speed="1000">0</h3>
                <span class="id-color">Anos de Experiência</span>
              </div>
              <div class="mb-sm-30"></div>
            </div>
            <div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight" data-wow-delay=".4s">
              <h2 class="no-bottom">O caminho para o sucesso e o caminho para o fracasso são quase exatamente os mesmos.
              </h2>
            </div>
            <div class="col-lg-4 wow fadeInRight" data-wow-delay=".6s">
              <p>
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
              </p>
            </div>
          </div>
        </div>
      </section> -->
<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Nossa Equipe</h2>
        <div class="small-border"></div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".2s">
        <div class="f-profile text-center">
          <div class="fp-wrap f-invert">
            <div class="fpw-overlay">
              <div class="fpwo-wrap">
                <div class="fpwow-icons">
                  <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                  <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                </div>
              </div>
            </div>
            <div class="fpw-overlay-btm"></div>
            <img src="{{ url_for('static', filename='images/team/1.jpg') }}" class="fp-image img-fluid" alt="">
          </div>
          <h4>Ardillis Romero</h4>
          Sócio-fundador
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".4s">
        <div class="f-profile text-center">
          <div class="fp-wrap f-invert">
            <div class="fpw-overlay">
              <div class="fpwo-wrap">
                <div class="fpwow-icons">
                  <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                  <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                </div>
              </div>
            </div>
            <div class="fpw-overlay-btm"></div>
            <img src="{{ url_for('static', filename='images/team/2.jpg') }}" class="fp-image img-fluid" alt="">
          </div>
          <h4>André Tavares</h4>
          Mentor Sênior
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb30 wow fadeInRight" data-wow-delay=".6s">
        <div class="f-profile text-center">
          <div class="fp-wrap f-invert">
            <div class="fpw-overlay">
              <div class="fpwo-wrap">
                <div class="fpwow-icons">
                  <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                  <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                </div>
              </div>
            </div>
            <div class="fpw-overlay-btm"></div>
            <img src="{{ url_for('static', filename='images/team/3.jpg') }}" class="fp-image img-fluid" alt="">
          </div>
          <h4>Alexandre Luna</h4>
          Mentor Sênior
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-top no-bottom" data-bgcolor="#e4e6e9"
  data-bgimage="url({{ url_for('static', filename='images/background/bg-1.png') }}) bottom #e4e6e9">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 offset-md-7">
        <div class="pt80 pb80">
          <h3>
            Visão
          </h3>
          <p>Na STL Consulting, temos como visão ser referência em consultoria prática e
            personalizada em liderança e desenvolvimento comportamental. Acreditamos que
            líderes inspirados e equipes bem estruturadas são a chave para resultados de alta
            performance</p>
          <div class="spacer-single"></div>
          <h3>
            Missão
          </h3>
          <p>Nossa missão é inspirar equipes e capacitar líderes a gerarem resultados
            de alta performance, com foco no crescimento contínuo e na criação de ambientes de trabalho
            colaborativos e inovadores.</p>
          <h3>
            Propósito
          </h3>
          <p>Ser referência em consultoria prática de liderança e desenvolvimento
            comportamental, capacitando pessoas e organizações a alcançarem a
            excelência profissional e pessoal. Nosso propósito é transformar desafios
            em oportunidades, impulsionando líderes a superarem adversidades e
            alcançarem seu máximo potencial.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container col-md-6 pull-right"
    data-bgimage="url({{ url_for('static', filename='images/background/bg-6.jpg') }}) center"></div>
  <div class="clearfix"></div>
</section>
{% endblock %}
